<div class="container-fluid">
  <div class="titulo arreglo ">
      <p>En esta sección podrás agregar o buscar apuntes de algun ramo!</p>
  </div>
  <div class="contenedor">
    <div class="botones">
  <button type="button" class="btn btn-success" (click)="show=!show">Buscar</button>
  <button type="button" class="btn btn-success">Agregar</button>
    </div>
    <div class="buscar" *ngIf="show">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">First</th>
          <th scope="col">Last</th>
          <th scope="col">Handle</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Jacob</td>
          <td>Thornton</td>
          <td>@fat</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Larry</td>
          <td>the Bird</td>
          <td>@twitter</td>
        </tr>
      </tbody>
    </table>
  </div>
  <div class="agregar">

  </div>
</div>
</div>
