.arreglo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100px;
    margin: 40px 20px 0px 20px;
    height: 80px;
    p{
        text-align: center;
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
}

.contenedor{
    display: flex;
    .buscar{
        border: 1px solid black;
        margin: 50px 0px 0px 50px;
        width: 1000px;
    }
}

.botones{
    display: flex;
    flex-flow: column nowrap;
    width: 150px;
    border: 1px solid black;
    button{
        margin: 100px 0px 0px 40px;
        font-size: 20px;
    }
}