<div class="inicio">
  <div class="inicio-imagen ">
    <img src="../../assets/img/duda.png" alt="hola">
  </div>
  <div class="inicio-informacion">
    <h1>La información que necesitas para tomar tus ramos</h1>
    <img src="../../assets/img/índice.png" alt="hola">
  </div>
</div>
<div class="inicio-descripcion ">
    <p>Yo DecidUss es una página web donde los alumnos de la USS dan información acerca de los docentes con los cuales han cursado algun ramo, <br>para que otros alumnos puedan revisar esa información a la hora de necesitar información sobre un profesor al cual no conocen. <br>Además los alumnos podrán contribuir subiendo apuntes de los ramos que han cursado. Esto hace que Yo DecidUss se convierta en una herramienta <br>poderosa a la hora de tomar ramos y no sabes con quien hacerlo.</p>
  </div>
