.contenedor{
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 5px 0px;
    .texto{
        display: flex;
        align-content: center;
        align-items: center;
        height: 100%;
        h1{
            font-size: 20px;
            text-align: center;
            color: white;
            margin: 0px;
            padding: 0px;
        }
    }
}