<div class="container-fluid">
  <div class="titulo arreglo ">
      <p>En esta sección podrás agregar o buscar informacion sobre un docente!</p>
  </div>
</div>
<div class="contenedor">

<div class=" mt-5 formulario">
  <div class="cuerpo mt-1 ">
      <form #DocenteForm="ngForm" (ngSubmit)="onSubmit(DocenteForm)">

          <input type="hidden" name="$key" #$key="ngModel" [(ngModel)]="conexion.seleccion.$key">
          
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="name"
              #name="ngModel"
              [(ngModel)]="conexion.seleccion.name"
              placeholder="Agrega nombre del Docente"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="descripcion"
              #descripcion="ngModel"
              [(ngModel)]="conexion.seleccion.descripcion"
              placeholder="Agrega descripcion del Docente"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="edad"
              #edad="ngModel"
              [(ngModel)]="conexion.seleccion.edad"
              placeholder="Agrega edad del Docente"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="ramos"
              #ramos="ngModel"
              [(ngModel)]="conexion.seleccion.ramos"
              placeholder="Agrega ramos del Docente"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="ventajas"
              #ventajas="ngModel"
              [(ngModel)]="conexion.seleccion.ventajas"
              placeholder="Agrega ventajas del Docente"
              >
          </div>
          <div class="form-group">
            <input 
              type="text"
              class="form-control"
              name="desventajas"
              #desventajas="ngModel"
              [(ngModel)]="conexion.seleccion.desventajas"
              placeholder="Agrega desventajas del Docente"
              >
          </div>
    
          <div class="form-group">
            <button class="btn btn-primary mr-3" type="submit" (click)="onSubmit(DocenteForm)" >
                <i class="fas fa-plus-circle"></i> Agregar
            </button>
            <button class="btn btn-secondary" type="reset" (click)="resetForm(DocenteForm)">
                <i class="fas fa-sync-alt"></i> Limpiar
            </button>
          </div>
        </form>
  </div>
</div>

  <div class="mostrar mt-5">
    <div class="titulo">
      <h3 class="bg-danger">Lista de Docentes</h3>
    </div>
    <div class="contenido" *ngFor="let docente of docenteLista">
        <a class="btn btn-secondary text-white mr-2" (click)="onEdit(docente)">
            <i class="far fa-edit"></i>
        </a>
        <a class="btn btn-danger text-white" (click)="onDelete(docente.$key)">
            <i class="fas fa-trash-alt"></i>
        </a>
      <h4 class="mt-2">Nombre</h4>
      <p>{{docente.name}}</p>
      <h4>Edad</h4>
      <p>{{docente.edad}}</p>
      <h4>Descripcion</h4>
      <p>{{docente.descripcion}}</p>
      <h4>Ramos</h4>
      <p>{{docente.ramos}}</p>
      <h4>Ventajas</h4>
      <p>{{docente.ventajas}}</p>
      <h4 class="mb-2">Desventajas</h4>
      <p>{{docente.desventajas}}</p>
      <hr size="2px" color="black" />
    </div>
  </div>
</div>
