.arreglo{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    border: 2px solid black;
    border-radius: 100px;
    margin: 40px 20px 0px 20px;
    height: 80px;
    p{
        text-align: center;
        font-size: 30px;
        padding: 0px;
        margin: 0px;
    }
}

.docentes{
    margin: 50px 0px 100px 40px;
    border: 4px double black;
    width: 1200px;
    height: 400px;
    display: flex;
    flex-flow: row nowrap;
    .contenedor-lista{
        width: 300px;
        border-right: 1px solid black;
    }
    .lista{
        margin-left: 20px;
        margin-top: 20px;
        width: 300px;
        .btn{
            margin-left: 20px;
            margin-top: 0px;
        }
    }
}

.table-wrapper-scroll-y {
    display: block;
    max-height: 300px;
    max-width: 195px;
    overflow-y: auto;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

a {
    color: black;
    text-decoration: none;
    &:hover{
        color:gray;
    }
}


.contenedor{
    display: flex;
    flex-flow: row nowrap;
    width: 1200px;
    .formulario{
        width: 320px;
        border: 1px solid black;
        padding: 10px 10px;
        margin-bottom: 60px;
        margin-left: 50px;
        max-height: 410px;
    }
    .mostrar{
        border: 1px solid black;
        margin-left: 70px;
        width: 900px;
        margin-bottom: 60px;
        max-height: 410px;
        overflow: auto;
        .titulo{
            h3{
                padding: 10px 10px;
                color: white;
            }
        }
        .contenido{
            padding: 10px 10px;
            h4{
                text-decoration-line: underline;
            }
        }
    }
}